astroid==2.15.6
colorama==0.4.6
cx-Freeze==6.15.6
cx-Logging==3.1.0
dill==0.3.7
future==0.18.3
iso8601==2.0.0
isort==5.12.0
lazy-object-proxy==1.9.0
lief==0.13.2
mccabe==0.7.0
numpy==1.25.2
platformdirs==3.10.0
pylint==2.17.5
PyQt5==5.15.9
PyQt5-Frameless-Window==0.3.1
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
pyqtgraph==0.13.3
pyserial==3.5
pywin32==306
PyYAML==6.0.1
tomlkit==0.12.1
wrapt==1.15.0
